/*logo*/
.logo{
    color: var(--secondary-color);
    font-weight: bold;
}

/*botones*/
.btn{
    border: none;
    padding: 2px 10px;
    border-radius: 50px;
}
.btn-registro{
background-color: var(--secondary-color);
color: white;
}

.btn-sesion{
background-color: var(--light-background);
}